<div class="km-table --light">
    <table class="km-table_container">
        <tr class="km-table_row --light --bordered">
            <td class="km-table_cell --light">
                <span class="km-text --bold --micro --uppercase">
                    coût d'achat de la commande
                </span>
            </td>
            <td class="km-table_cell --light">
                <span class="km-text --micro">
                    20
                </span>
            </td>
            <td class="km-table_cell --light">
                <span class="km-text --micro">
                    50
                </span>
            </td>
            <td class="km-table_cell --light">
                <span class="km-text --micro">
                    80
                </span>
            </td>
            <td class="km-table_cell --light">
                <span class="km-text --micro">
                    100
                </span>
            </td>
            <td class="km-table_cell --light">
                <span class="km-text --micro">
                    150
                </span>
            </td>
            <td class="km-table_cell --light">
                <span class="km-text --micro">
                    200
                </span>
            </td>
            <td class="km-table_cell --light">
                <span class="km-text --micro">
                    300
                </span>
            </td>
            <td class="km-table_cell --light">
                <span class="km-text --micro">
                    350
                </span>
            </td>
            <td class="km-table_cell --light">
                <span class="km-text --micro">
                    400
                </span>
            </td>
        </tr>
        <tr class="km-table_row --light">
            <td class="km-table_cell --light">
                <span class="km-text --bold --micro --uppercase">
                    frais de service
                </span>
            </td>
            <td class="km-table_cell --light">
                <span class="km-text --micro">
                    5,6
                </span>
            </td>
            <td class="km-table_cell --light">
                <span class="km-text --micro">
                    6,55
                </span>
            </td>
            <td class="km-table_cell --light">
                <span class="km-text --micro">
                    7,25
                </span>
            </td>
            <td class="km-table_cell --light">
                <span class="km-text --micro">
                    9,61
                </span>
            </td>
            <td class="km-table_cell" --light>
                <span class="km-text --micro">
                    10,7
                </span>
            </td>
            <td class="km-table_cell --light">
                <span class="km-text --micro">
                    11,8
                </span>
            </td>
            <td class="km-table_cell --light">
                <span class="km-text --micro">
                    12,9
                </span>
            </td>
            <td class="km-table_cell --light">
                <span class="km-text --micro">
                    13,3
                </span>
            </td>
            <td class="km-table_cell --light">
                <span class="km-text --micro">
                    13,9
                </span>
            </td>
        </tr>
    </table>
</div>
