{% extends 'base.html.twig' %}

{% block body %}
        {% include '1_-_Basics/Colors/4_-_Emphasis_Darker/doc.html.twig' %}
        {% include '1_-_Basics/Colors/4_-_Emphasis_Darker/usage.html.twig' %}


        <p class="km-text --emphasis-darker">Hello, I'm an emphasis-darker km-text and I'm in Downriver blue</p>
{% endblock %}
