{% extends 'base.html.twig' %}

{% block body %}
        {% include '1_-_Basics/Hyerarchy/4_-_Tera/doc.html.twig' %}
        {% include '1_-_Basics/Hyerarchy/4_-_Tera/usage.html.twig' %}
        <p class="km-text --tera">Tera - 30px / 39px(1.3em) line-height - Hello world</p>
{% endblock %}
