{% extends 'base.html.twig' %}

{% block body %}
        {% include '1_-_Basics/Hyerarchy/13_-_Micro_bold/doc.html.twig' %}
        {% include '1_-_Basics/Hyerarchy/13_-_Micro_bold/usage.html.twig' %}
        <p class="km-text --bold --micro">Micro - 12px / 18px(1.5em) line-height  - Hello world</p>
{% endblock %}
