{% extends 'base.html.twig' %}

{% block body %}
        {% include '1_-_Dossier/1_-_Sous-dossier/doc.html.twig' %}
        {% include '1_-_Dossier/1_-_Sous-dossier/usage.html.twig' %}
        <h1 class="km-text --peta --bold">Example for 1_-_Dossier/1_-_Sous-dossier</h1>
{% endblock %}
