<div class="km-layout_footer">
    <div class="km-footer --sub">
        <div class="km-container">
            <div class="km-footer_disclaimer">
                <div class="km-footer_text">
                    <p class="km-text --micro --trapped">
                        {% set currentDate = date() %}
                        {% set currentYear = currentDate|date('Y') %}

                        <strong class="km-text --micro --inline --bold --trapped"> Kimouss {{ currentYear }} </strong>
                    <br>
                    <p class="km-text --micro --trapped">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
