{% extends 'base.html.twig' %}

{% block title %}Hello StyleguideController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/app/src/Controller/StyleguideController.php'|file_link(0) }}">src/Controller/StyleguideController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/app/templates/styleguide/index.html.twig'|file_link(0) }}">templates/styleguide/index.html.twig</a></code></li>
    </ul>

    <h1>PUBLIER NPM</h1>
    <p>npm publish --access public</p>

    <h1>VOIR NPM</h1>
    <p>npm pack --dry-run</p>

    <h1>Update version</h1>
    <p>git add .</p>
    <p>git commit -m "push sur git"</p>
    <p>git push origin main</p>
    <p>npm run publish</p>
    <p>npm version x.x.x</p>
    <p>npm publish --access public</p>


</div>
{% endblock %}
