{% extends 'base.html.twig' %}

{% block body %}
        {% include 'init/doc.html.twig' %}
        {% include 'init/usage.html.twig' %}
        <h1 class="km-text --peta --bold">Example for init</h1>
{% endblock %}
