{% extends 'base.html.twig' %}

{% block body %}
        {% include '1_-_Basics/Hyerarchy/5_-_Giga_bold/doc.html.twig' %}
        {% include '1_-_Basics/Hyerarchy/5_-_Giga_bold/usage.html.twig' %}
        <p class="km-text --bold --giga">Giga - 24px / 31px(1.3em) line-height  - Hello world</p>
{% endblock %}
