{% extends 'base.html.twig' %}

{% block body %}
        {% include '1_-_Basics/Colors/7_-_Success/doc.html.twig' %}
        {% include '1_-_Basics/Colors/7_-_Success/usage.html.twig' %}

        <p class="km-text --success">Hello, I'm a success km-text and I'm in Shamrock green</p>
{% endblock %}
