{% extends 'base.html.twig' %}

{% block body %}
        {% include '1_-_Basics/Colors/5_-_Secondary/doc.html.twig' %}
        {% include '1_-_Basics/Colors/5_-_Secondary/usage.html.twig' %}

        <p class="km-text --secondary">Hello, I'm a secondary km-text and I'm in Slate grey</p>
{% endblock %}
