{% extends 'base.html.twig' %}

{% block body %}
        {% include '1_-_Basics/Hyerarchy/14_-_Micro/doc.html.twig' %}
        {% include '1_-_Basics/Hyerarchy/14_-_Micro/usage.html.twig' %}
        <h1 class="km-text --micro">Micro - 12px / 18px(1.5em) line-height  - Hello world</h1>
{% endblock %}
