{% extends 'base.html.twig' %}

{% block body %}
        {% include '1_-_Basics/Hyerarchy/3_-_Tera_bold/doc.html.twig' %}
        {% include '1_-_Basics/Hyerarchy/3_-_Tera_bold/usage.html.twig' %}
        <p class="km-text --bold --tera">Tera - 30px/ 39px(1.3em) line-height  - Hello world</p>
{% endblock %}
