{% extends 'base.html.twig' %}

{% block body %}
        {% include '1_-_Basics/Hyerarchy/15_-_Nano_bold/doc.html.twig' %}
        {% include '1_-_Basics/Hyerarchy/15_-_Nano_bold/usage.html.twig' %}
        <p class="km-text --bold --nano">Nano - 10px / 15px(1.5em) line-height  - Hello world</p>
{% endblock %}
