{% extends 'base.html.twig' %}

{% block body %}
        {% include 'ma_template/doc.html.twig' %}
        {% include 'ma_template/usage.html.twig' %}
        <h1 class="km-text --peta --bold">Example for ma_template</h1>
{% endblock %}
