{% extends 'base.html.twig' %}

{% block body %}
        {% include '2_-_Second/1_-_Sous_dossier/doc.html.twig' %}
        {% include '2_-_Second/1_-_Sous_dossier/usage.html.twig' %}
        <h1 class="km-text --peta --bold">Example for 2_-_Second/1_-_Sous_dossier</h1>
{% endblock %}
