{% extends 'base.html.twig' %}

{% block body %}
        {% include '1_-_Basics/Hyerarchy/9_-_Kilo_bold/doc.html.twig' %}
        {% include '1_-_Basics/Hyerarchy/9_-_Kilo_bold/usage.html.twig' %}
        <p class="km-text --bold --kilo">Kilo - 16px / 24px(1.5em) line-height  - Hello world</p>
{% endblock %}
