<div class="km-table">
    <table class="km-table_container">
        <tr class="km-table_row">
            <td class="km-table_cell">
                <span class="km-text --bold --micro --uppercase">
                    coût d'achat de la commande
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro">
                    20
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro">
                    50
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro">
                    80
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro">
                    100
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro">
                    150
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro">
                    200
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro">
                    300
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro">
                    350
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro">
                    400
                </span>
            </td>
        </tr>
        <tr class="km-table_row">
            <td class="km-table_cell">
                <span class="km-text --bold --micro --uppercase">
                    frais de service
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro">
                    5,6
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro">
                    6,55
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro">
                    7,25
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro">
                    9,61
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro">
                    10,7
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro">
                    11,8
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro">
                    12,9
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro">
                    13,3
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro">
                    13,9
                </span>
            </td>
        </tr>
    </table>
</div>

<div class="km-table">
    <table class="km-table_container">
        <tr class="km-table_row">
            <td class="km-table_cell">
                <span class="km-text --bold --micro --uppercase">
                    société
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --bold --micro --uppercase">
                    date de création
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --bold --micro --uppercase">
                    pays d'origine
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --bold --micro --uppercase">
                    ca estimé
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --bold --micro --uppercase">
                    dernière levée de fonds
                </span>
            </td>
            <td class="km-table_cell" colspan="2">
                <span class="km-text --bold --micro --uppercase">
                    description de l'activité
                </span>
            </td>
        </tr>
        <tr class="km-table_row --clickable">
            <td class="km-table_cell">
                <span class="km-text --micro">
                    World Craze
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro">
                    2012
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro">
                    France
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro">
                    NC
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro">
                    NC
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro">
                    Worldcraze met en relation des personnes qui souhaitent acheter des produits étrangers et des voyageurs qui peuvent leur livrer les produits. Contrairement à Globshop, la plateforme ne cherche pas à se développer sur le segment B2B.
                </span>
            </td>
            <td class="km-table_cell --arrow">
                <div class="km-table_arrow --open">
                    <span class="km-link --large --tertiary --material --icon material-icons">
                        keyboard_arrow_down
                    </span>
                </div>
            </td>
        </tr>
        <tr class="km-table_row --clickable">
            <td class="km-table_cell">
                <span class="km-text --micro">
                    BackPackBang
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro">
                    2014
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro">
                    Etats-Unis
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro">
                    NC
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro">
                    120k € (2014)
                </span>
            </td>
            <td class="km-table_cell">
                <span class="km-text --micro --one-liner">
                    BackPackBang est positionné sur le modèle de vente.
                </span>
            </td>
            <td class="km-table_cell --arrow">
                <div class="km-table_arrow">
                    <span class="km-link --large --tertiary --material --icon material-icons">
                        keyboard_arrow_down
                    </span>
                </div>
            </td>
        </tr>
    </table>
</div>
