{% extends 'base.html.twig' %}

{% block body %}
        {% include '1_-_Basics/Hyerarchy/11_-_Normal_bold/doc.html.twig' %}
        {% include '1_-_Basics/Hyerarchy/11_-_Normal_bold/usage.html.twig' %}
        <p class="km-text --bold">Normal - 14px / 21px line-height  - Hello world</p>
{% endblock %}
