{% extends 'base.html.twig' %}

{% block body %}
        {% include '1_-_Basics/Colors/11_-_Demo_color/doc.html.twig' %}
        {% include '1_-_Basics/Colors/11_-_Demo_color/usage.html.twig' %}

        <h1 class="km-text --demo-color">On l'utilise comme sa</h1>

{% endblock %}
