{% extends 'base.html.twig' %}

{% block body %}
        {% include '1_-_Basics/Colors/11_-_Demo_color/doc.html.twig' %}
        {% include '1_-_Basics/Colors/11_-_Demo_color/usage.html.twig' %}
        <h1 class="km-text --peta --bold">Example for 1_-_Basics/Colors/11_-_Demo_color</h1>

        <p class="km-text --demo-color">Je suis un test</p>
{% endblock %}
