{% extends 'base.html.twig' %}

{% block body %}
        {% include '1_-_Basics/Colors/9_-_Error/doc.html.twig' %}
        {% include '1_-_Basics/Colors/9_-_Error/usage.html.twig' %}

        <p class="km-text --error">Hello, I'm an error km-text and I'm in Bittersweet red</p>
{% endblock %}
