{% extends 'base.html.twig' %}

{% block body %}
        {% include '1_-_Basics/Hyerarchy/2_-_Peta/doc.html.twig' %}
        {% include '1_-_Basics/Hyerarchy/2_-_Peta/usage.html.twig' %}
        <p class="km-text --peta">Peta - 36px / 47px(1.3em) line-height - Hello world</p>
{% endblock %}
