{% extends 'base.html.twig' %}

{% block body %}
        {% include '1_-_Basics/Colors/3_-_Emphasis_Dark/doc.html.twig' %}
        {% include '1_-_Basics/Colors/3_-_Emphasis_Dark/usage.html.twig' %}

        <p class="km-text --emphasis-dark">Hello, I'm an emphasis-darker km-text and I'm in Matisse blue</p>
{% endblock %}
