{% extends 'base.html.twig' %}

{% block body %}
        {% include '1_-_Basics/Colors/1_-_Normal/doc.html.twig' %}
        {% include '1_-_Basics/Colors/1_-_Normal/usage.html.twig' %}

        <p class="km-text">Hello, I'm a normal km-text and I'm in Fiord grey</p>
{% endblock %}
