
<!-- Grid example #1 -->

<div class="km-grid">
    <div class="km-grid_col --one-quarter@on-desktop">
        <!--  Example content --

        <div class="demo_col">km-grid_col --one-quarter@on-desktop</div>

        -->
    </div>
    <div class="km-grid_col --three-quarters@on-desktop">
        <!--  Example content --

        <div class="demo_col">km-grid_col --three-quarters@on-desktop</div>

        -->
    </div>
</div>

<!-- Grid example #2 -->

<div class="km-grid">
    <div class="km-grid_col --two-thirds@from-tablet">
        <!--  Example content --

        <div class="demo_col">km-grid_col --two-thirds@from-tablet</div>

        -->
    </div>
    <div class="km-grid_col --one-third@from-tablet">
        <!--  Example content --

        <div class="demo_col">km-grid_col --one-third@from-tablet</div>

        -->
    </div>
</div>
