{% extends 'base.html.twig' %}

{% block body %}
        {% include '1_-_Basics/Hyerarchy/6_-_Giga/doc.html.twig' %}
        {% include '1_-_Basics/Hyerarchy/6_-_Giga/usage.html.twig' %}
        <p class="km-text --giga">Giga - 24px / 31px(1.3em) line-height  - Hello world</p>
{% endblock %}
