<h1 class="km-text --peta --bold">Doc of Grid Bordered</h1>
<p class="km-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consectetur deserunt, dolores illum, magni modi nulla omnis quia quod recusandae vel veniam vitae voluptas. Cupiditate illo odio quaerat tempora tempore.</p>
