{% extends 'base.html.twig' %}

{% block body %}
        {% include '1_-_Basics/Grid/2_-_Bordered/doc.html.twig' %}
        {% include '1_-_Basics/Grid/2_-_Bordered/usage.html.twig' %}
        <h1 class="km-text --peta --bold">Example for 1_-_Grid</h1>

        <div class="km-grid">
                <div class="km-grid_col --half@from-tablet --bordered-right@from-tablet --bordered-bottom@to-phablet">
                        <div class="km-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quas autem dolorum voluptate suscipit quaerat beatae dolor ut praesentium? Ullam enim nulla nam similique. Numquam exercitationem sint laudantium libero recusandae!
                        </div>
                </div>
                <div class="km-grid_col --half@from-tablet">
                        <div class="km-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quas autem dolorum voluptate suscipit quaerat beatae dolor ut praesentium? Ullam enim nulla nam similique. Numquam exercitationem sint laudantium libero recusandae!
                        </div>
                </div>
        </div>
{% endblock %}
