{% extends 'base.html.twig' %}

{% block body %}
        {% include '1_-_Basics/Colors/10_-_Trapped/doc.html.twig' %}
        {% include '1_-_Basics/Colors/10_-_Trapped/usage.html.twig' %}

        <br>
        <div style="background-color: #2f3e47">
                <p class="km-text --trapped">Hello, I'm a trapped km-text, and I'm in Snow white</p>
        </div>
{% endblock %}
