{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="km-text --peta --bold">Error</h1>

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="javascript:void(0)">return to the homepage</a>.
    </p>
{% endblock %}
