@include component(button-back-to-top) {
    /* Colour variables */
    $default-background-color: $blue-electric;
    $hover-background-color: $blue-malibu;
    $active-background-color: $blue-matisse;
    $default-radius: $base-radius;
    $default-transition: $base-transition;

    /* Width & size variables */
    $default-size: 3.6rem;
    
    position: relative;
    background: $default-background-color;
    display: flex;
    width: $default-size;
    height: $default-size;
    justify-content: center;
    border-radius: $default-radius;
    color: $white-snow;
    border: 0;
    cursor: pointer;
    transition: $default-transition;
    border: 1px solid transparentize($active-background-color, 0.7);

    &:focus {
        outline: 0;
    }

    &:hover {
        background: $hover-background-color;
    }

    &:active {
        background: $active-background-color;
    }

    @include child(icon) {
        font-size: 2.6rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}
