@include component(category-title) {
    /* Colour variables */
    $default-text-color: $blue-downriver;
    $default-line-color: $grey-mystic;

    padding-bottom: spacing(pico);
    border-bottom: 1px solid $default-line-color;
    display: flex;
    position: relative;

    @include modifier(padded-top) {
        padding-top: spacing(normal);
    }

    @include child(right) {
        position: absolute;
        right: 0;
    }

    @include modifier(no-line) {
        border-bottom: none;
        padding-bottom: 0;
    }
}
