@include component(password-verification) {
    margin-top: spacing(nano);
    max-width: 100%;

    @include child(condition) {
        margin-right: spacing(normal);
    }

    @include child(conditions) {
        @include from-phablet {
            display: flex;
        }
    }
}
